.modal-content>.btn-close {
    align-self: end;
    margin: 10px 10px 0 0;
}

.viewi-icon {
    width: 24px;
    height: 24px;
}

.icon {
    fill: currentColor;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.icon-sm {
    width: 1em;
    height: 1em;
}

.pagination {
    margin-bottom: 0;
}

.round {
    width: 48px;
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center
}

.btn-rounded {
    width: 48px;
    min-width: 48px;
    height: 48px;
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center
}

.btn-rounded:hover {
    background-color: var(--hover-bg)
}

.btn-rounded:active {
    background-color: var(--active-bg) !important
}

.btn-rounded svg,
.btn-rounded img {
    width: 26px;
    height: 26px
}

.btn-sm svg,
.btn-sm img {
    width: 20px;
    height: 20px
}

/** blog-application **/
.bi {
    fill: currentColor;
}

.blog-application .thumbnail {
    height: 80px;
    width: 100%;
    max-width: 120px;
}

.blog-application .thumbnail img {
    height: auto;
    max-width: 100%;
}

.h-688 {
    height: 688px;
}

.input-group-text .viewi-icon {
    height: 18px;
    width: 18px;
}

.icon-lg {
    width: 64px;
    height: 64px;
}

.h-400 {
    height: 400px;
}